.chart-page .chart-container {
  background: #1e1a3a !important;
  border-color: #444 !important;
}

.chart-page {
  background: #1e1a3a;
}

.group-wWM3zP_M- {
  background: #181436;
  color: #525e80 !important;
}

.wrap-1GG7GnNO- {
  background: #3d356d;
}
.wrap-1GG7GnNO- svg {
  fill: #525e80;
  color: #525e80;
}

.button-13wlLwhJ- {
  color: #525e80;
}

.button-2ioYhFEY-.isInteractive-20uLObIc- {
  color: #525e80;
}

.subGroup-1JpgB9zD- > :not(:first-child):before {
  background-color: #3d356d;
}

.inner-1xuW-gY4- {
  background-color: #3d356d;
}

.group-2JyOhh7Z- {
  background-color: #181436;
}

.button-263WXsg-- svg {
  fill: #525e80;
  color: #525e80;
}

.chart-controls-bar {
  background-color: #181436;
  border-color: #3d356d;
}

.separator-3bp1jCsV- {
  border-color: #3d356d;
}

.item-3cgIlGYO- {
  color: #525e80;
}

.button-88UE6omC- {
  color: #525e80;
}

.button-263WXsg-- {
  color: #525e80;
}

.button-263WXsg-- .icon-1Y-3MM9F- {
  color: #525e80;
}

.pane-legend-title__container {
  color: #525e80 !important;
}

.pane-legend-line span.pane-legend-line {
  color: #727a8f !important;
}

.pane-legend-line.pane-legend-wrap.study > .pane-legend-line {
  color: #525e80 !important;
}

.pane-legend-icon-container svg {
  fill: #525e80 !important;
  color: #525e80 !important;
}

.toggleButton-13QgefpG- svg {
  fill: #525e80 !important;
  color: #525e80 !important;
}

.pane-legend .pane-legend-minbtn .expand,
.pane-legend .pane-legend-icon .expand {
  fill: #525e80 !important;
}
