$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$red: #ff0000;
$green: #02a177;
$grey-6: #666666;
$grey-9: #999999;
$orange: orange;

// body color
$body-background: #111;
$shadow-color: #ebebeb;
$active-color: #9c62e7;

// header color
$brand-color: #3096ff;
$warning-color: #ae3d43;

// block component colors
$block-background: #222;
$block-color: #ffffff;
$block-header-background: #2c2c2c;

// tab component colors
$tabs-box-shadow-color: #5b618f;
$tabs-active-tab-color: #3096ff;

// button colors
$left-gradient-color: #3a4e87;
$right-gradient-color: #dfb7c9;

// input colors
$input-background: #111;
$input-border: #333;
$text-color: #fcfcfc;
$input-focus-border: #ccc;

// table color
$th-text: #adbbcd;
$td-border-bottom: transparent;

// token Selector color
$search-icon-color: #757575;
$th-price-color: #94b7f3;
$tr-background-color: rgba(0, 0, 0, 0.2);
$td-won-color: #3c763d;
$td-lost-color: #ae3d43;

// modal CSS
$modal-box-shadow: rgba(0, 0, 0, 0.15);
$modal-input-background: #242739;
$modal-input-border: #5f6594;

// select CSS
$select-dropdown-box-shadow: rgba(0, 0, 0, 0.5);
$select-dropdown-item-background: #232c38;

// password checker
$password-evaluator-color: #8a6d3b;
$word-check-valid: #22ae7f;
$word-check-invalid: #d7484d;
